@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  font-size: 16px;
}

:root {
  --primary-color: #669b9b;
  --accent-color: #ff9a76;
  --secondary-color: #eee;
  --basic-color: #637373;
  --tone-color: #ffeadb;
  --info-color: #eb8d2a;
  --disabled-color: #eee;
  --h1: 24px;
  --h2: 18px;
  --h3: 18px;
  --h4: 16px;
  --p: 16px;
  --small: 14px;
}
.bg-primary {
  background: var(--primary-color) !important;
}
.bg-basic {
  background: var(--basic-color) !important;
}
.bg-tone {
  background: var(--tone-color) !important;
}
.bg-secondary {
  background: var(--secondary-color) !important;
}
.text-accent {
  color: var(--accent-color) !important;
}
.text-tone {
  color: var(--tone-color) !important;
}
.text-basic {
  color: var(--basic-color) !important;
}
.en-new-spirit {
  font-family: new-spirit, serif;
  font-weight: 400;
  font-style: normal;
}

h3,
.h3 {
  font-size: var(--h3) !important;
}

h4,
.h4 {
  font-size: var(--h4) !important;
}

p {
  font-size: var(--p) !important;
}
.small {
  font-size: var(--small) !important;
}
